<footer class="site-footer">

  <div class="wrapper">


    <div class="newsletter-form">
      <h1>Get Our Newsletter</h1>
      <button id="newsletter-submit" href="https://foodpedaler.us8.list-manage.com/subscribe/post?u=7bc428ab4ef7458680490e44c&id=4a28a96f1e" name="newsletter-submit">Submit</button>
    </div>

      <div class="main-site-links">
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/where-we-deliver">Where We Deliver</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/why-we-do-it">Why We Do It</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/work-with-us">Work With Us</a></p>
        </div>
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/gift-certificate">Gift Certificates</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/corporate-account">Corporate Accounts</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/contact-us">Contact</a></p>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
