<footer class="site-footer">

  <div class="wrapper">


    <div class="newsletter-form">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" /> <style type="text/css">
	#mailchimp {
	background: #f9f9f9;
	color: #3D6392;
	padding: 0;
	width: 60%;
  	display: block;
  	margin-left: auto;
 	margin-right: auto;
}
	#mailchimp input {
		 border: medium none;
    		 color: gray;
    		 font-family: montserrat;
    		 font-size: 16px;
   		 margin-bottom: 10px;
 	         padding: 8px 10px;
    		 width: 300px;
		 border-radius: 20px;
		 -moz-border-radius: 20px;
		 -webkit-border-radius: 20px;
		 width: 300px;
  		 display: block;
  		 margin-left: auto;
 	 	 margin-right: auto;
	}
		#mailchimp input.email { background: #fff; border: 1px solid #bdbdbd; border-radius: 6px }
		#mailchimp input.name { background: #fff }
		#mailchimp input[type="submit"] {
			background: #D12D33;
			color: #fff;
			cursor: pointer;
			font-size: 15px;
			border-radius: 6px;
			width: 100px;
			padding: 8px 0;
  			display: block;
  			margin-left: auto;
 			margin-right: auto;

		}
			#mailchimp input[type="submit"]:hover { color: #FDDB00 }
</style>
<div id="mailchimp">
  <h1 align="center">Get Our Awesome Newsletter &amp; Coupons</h1>
  <form action="//foodpedaler.us8.list-manage.com/subscribe/post?u=7bc428ab4ef7458680490e44c&amp;id=4a28a96f1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <input type="email" border-color="#bdbdbd" size="30" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
  </form>
</div>
<!-- End MailChimp Signup Form --> <hr />

    </div>

      <div class="main-site-links">
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/where-we-deliver">Where We Deliver</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/why-we-do-it">Why We Do It</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/work-with-us">Work With Us</a></p>
        </div>
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/gift-certificate">Gift Certificates</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/corporate-account">Corporate Accounts</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/contact-us">Contact</a></p>
        </div>
      </div>

    </div>
  <p id='copyright'>&copy; 2015 Food Pedaler</p>
  <p id='made-in-stl'>Made in STL</p>

  </div>
</footer>
