<footer class="site-footer">

  <div class="wrapper">


    <div class="newsletter-form">
      <h1>Get Our Newsletter</h1>
      <p>
      <input placeholder="Name" name="name">
      <input placeholder="Email" name="email">
      </p>
      <button name="newsletter-submit">Submit</button>
    </div>

      <div class="main-site-links">
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/where-we-deliver">Where We Deliver</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/why-we-do-it">Why We Do It</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/work-with-us">Work With Us</a></p>
        </div>
        <div class="link-column">
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/gift-certificate">Gift Certificates</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/corporate-account">Corporate Accounts</a></p>
          <p class=""><a class=page-link" href="https://www.foodpedaler.com/contact-us">Contact</a></p>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
