<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ '/js/share_button.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/menu_button.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/newsletter_button.js' | prepend: site.baseurl }}"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
