/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 56px;
    float: left;
    clear: both;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        font-size: 14px;
        font-weight: 600;
        line-height: $base-line-height;
        margin-top: 50px;
        // Gaps between nav items, but not on the last one
        &:hover {
        color: $brand-color;
        }
        &:not(:last-child) {
            margin-right: 27px;
        }
    }

    @include media-query($on-palm) {
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        .header-background-image {
          display: none;
        }
        text-align: right;
        .header-link-list {
          display: none;
        }
        .menu-icon {
            position: absolute;
            right: 20px;
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.site-nav {
  @include media-query($on-laptop) {
    .header-link-list {
      display: none;
    }
    .menu-icon {
      position: absolute;
      right: 20px;
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    @include media-query($on-laptop) {
      text-align: center;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

//Custom CSS
.hidden {
  display: none !important;
}

//footer links
.main-site-links {
  display: block;
  float: left;
  color: red;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid $brand-color;
  width: 100%;
  .link-column {
    margin-top: -10px;
    display: inline-block;
  }
  .link-column:last-child {
    margin-left: 240px;
  }
  p {
    margin-bottom: 0px;
  }
  @include media-query($on-laptop) {
    .link-column:last-child {
      padding-top: 15px;
      margin-left: 0px;
    }
  }
}

.newsletter-form {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-top: 2px solid $brand-color;
  border-bottom: 1px solid $brand-color;
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-query($on-laptop) {
    margin-bottom: 5px;
  }

  input {
    vertical-align: middle;
    height: 34px;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 14px;
    width: 47%;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 4px;
  }

  button {
    margin: 0px;
    margin-left: -10px;
    color: #f9f9f9;
    background-color: $brand-color;
    border-color: #ffff43;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    font-family: "Montserrat", Helvetica;
    border-radius: 4px;
    box-sizing: border-box;

  }
}



//header
.brand-logo {
  margin-left: 50px;
  margin-top: 20px;
  float:left;
}

.header-background-image {
  border-top: 2px solid $brand-color;
  border-bottom: 2px solid $brand-color;
  margin-top: 20px;
}

.header-link-list {
  margin-left: 370px;
  padding-top: 33px;
}

.accordion {
  position: absolute;
  right: 0px;
  padding-left: 9px;
  display: block;
  overflow: hidden;
  box-shadow: -2px 1px rgba(0, 0, 0, 0.25);
  top: 35px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  opacity: 1;
  @include media-query($on-laptop) {
    width: 155px;
  }
  @include media-query($on-palm) {
    width: 175px;
  }
}

.header-links {
  a {
    color: $text-color;
  }
  a:hover {
    cursor: pointer;
  }
}

//share buttons
#social {
  position:relative;
}

#share-links {
  position: absolute;
  top: -45px;
  width: 200px;
  div {
    display: inline;
    margin: -3px;
    padding: 15px;
  }
}
#share-links:hover {
  cursor: pointer;
}

#fb-share {
  background-color: #3b5998;
  img {
    width: 30px;
  }
}
#twitter-share {
  background-color: #00ACED;
  img {
    width: 30px;
  }
}

#gplus-share {
  background-color: #d34836;
  img {
    padding-top: 5px;
    width: 30px;
  }
}

#share-button {
  color: black;
  display: inline;
  div {
    display: inline;
  }

  h4 {
    vertical-align: sub;
  }

  img {
  margin-right: 5px;
  }
}

#share-button:hover {
  cursor: pointer;
}


